{% extends 'base.html' %}
{% load cart %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
{% endblock css %}

{% block content %}
<div class="super_container">


    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({% static 'images/categories.jpg' %})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">{{ product.name }}<span>.</span></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details -->

    <div class="product_details">
        <div class="container">
            <div class="row details_row">

                <!-- Product Image -->
                <div class="col-lg-6">
                    <div class="details_image">
                        <div class="details_image_large"><img src="{{ product.image.url }}" alt="">
                        </div>
                        <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                            {% for image in product.productimages_set.all %}
                            <div class="details_image_thumbnail" data-image="{% static 'images/details_2.jpg' %}"><img
                                    src="{{ image.image.url }}" alt=""></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Product Content -->
                <div class="col-lg-6">
                    <div class="details_content">
                        <div class="details_name">{{ product.name }}</div>
                       {% if order_count >= 3 %}
						        <div class="details_discount">{{ product.price }} ₸</div>
                                <div class="product_price">{{ product.price|percent:10 }} ₸</div>
                                {% else %}
                                <div class="product_price">{{ product.price }} ₸</div>
                                {% endif %}


                        <div class="details_text">
                            <p>{{ product.description }}</p>
                        </div>

                        <!-- Product Quantity -->
                        <div class="product_quantity_container">

                            {% if product|is_in_cart:request.session.cart %}
                            <div class="product_quantity clearfix">
                                <span>Саны</span>
                                <input id="quantity_input" type="text" pattern="[0-9]*"
                                       value="{{ product|cart_quantity:request.session.cart}}">
                                <div class="quantity_buttons">

                                    <div id="quantity_inc_button" class="quantity_inc quantity_control">
                                        <form method="post">
                                            {% csrf_token %}

                                            <input hidden type="text" name='p' value='{{ product.id }}'>
                                            <input class="quantity_buttons quantity_inc quantity_control" type="submit"
                                                   value="▲">
                                        </form>
                                    </div>
                                    <div id="quantity_dec_button" class="quantity_dec quantity_control">
                                        <form method="post">
                                            {% csrf_token %}

								            <input hidden type="text" name='p' value='{{ product.id }}'>
                                            <input hidden type="text" name='remove' value='{{ product.id }}'>
                                            <input class="quantity_buttons quantity_dec quantity_control" type="submit"
                                                   value="▼">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input hidden type="text" name='p' value='{{ product.id }}'>
                                <input class="button cart_button" type="submit" value="Себетке қосу">
                            </form>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="products_title">Ұқсас тауарлар</div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="product_grid">


                        {% for p in products %}
                        <div class="product">
                            <div class="product_image"><img src="{{ p.image.url }}" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="{% url 'product' p.slug %}">{{ p.name }}</a></div>
                                <div class="product_price">{{ p.price }} ₸</div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock content %}